/*--------------------------------------------------------------
4. wpo-footer
--------------------------------------------------------------*/
.wpo-site-footer {
    background: linear-gradient(45deg, #b81029, #ff4856) ;

    position: relative;
    font-size: 15px;
    overflow: hidden;

    ul {
        list-style: none;
    }

    p{
        color: $white;
    }
    li{
        color: $white;
    }

    .container {
        position: relative;
    }

    .wpo-upper-footer{
        padding: 90px 0;
    }

    @media (max-width: 991px) {

        .wpo-upper-footer{
            padding: 60px 0 0;
        }
    }
    
    @media (max-width: 767px) {
    
        .wpo-upper-footer{
            padding: 60px 0 0;
        }
    }
    
    @media (max-width: 991px) {
    
        .wpo-upper-footer .col{
            min-height: 235px;
            margin-bottom: 70px;
        }
    }
    
    @media (max-width: 767px) {
    
        .wpo-upper-footer .col{
            min-height: auto;
            margin-bottom: 60px;
        }
    }

    .widget-title{
        margin-bottom: 30px;
    }

    @media (max-width: 767px) {

        .widget-title{
            margin-bottom: 20px;
        }
    }


    .widget-title{
       h3 {
  font-size: 23px;
  color: #ffcc00;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  font-family: "themify";

  font-weight: 600; /* Add font-weight here */

  /* Responsive adjustments for smaller screens */
  @media (max-width: 991px) {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

    }
    @media (max-width: 1920px) {
        .logo{
            width: 250px;
        }
      }
      @media (max-width: 480px) {
        .logo{
            width: 200px;
        }
      }
    .about-widget {
        .logo {
            max-width: 180px;
        }
    }
    @media (max-width: 1920px) {
        .p-text{
            margin-bottom: 0.8em;
            line-height: 1.3em;
            text-align: center;
            margin-right: 36px;
    
            &:last-child{
                margin-bottom: 0;
            }
            }
      }
      @media (max-width: 1400px) {
        .p-text{
            margin-bottom: 0.8em;
            line-height: 1.3em;
            text-align: center;
            margin-right: 4px;
    
            &:last-child{
                margin-bottom: 0;
            }
            }
      }
      @media (max-width: 480px) {
        .p-text {
            margin-bottom: 0.8em;
            line-height: 1.4em;
            text-align: left;
            margin-right: 150px;
            font-size: 13px;
            word-break: break-word; /* Break long words if needed */
            white-space: normal;    /* Allow text to wrap to the next line */
            overflow-wrap: break-word; /* Ensures words break within boundaries */
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    
        
    .about-widget {
        p{
            
        }
   
        @media (max-width: 1920px) {
            ul{
                overflow: hidden;
                padding-top: 10px;
                margin-left: 30px;
    
                li{
                    font-size: 22px;
                    float: left;
    
                    a{
                        
                        color: $white;
                        width: 36px;
                        height: 36px;
                        line-height: 37px;
                        background: linear-gradient(45deg, #ff4856, #aa2135);
                        display: block;
                        text-align: center;
                        @include rounded-border(50%);
                        font-size: 18px;
                        gap: 102px;
    
    
                        &:hover{
                            color:$dark-gray;
                            background: $white;
                        }
                    }
                }
    
                li+li{
                    margin-left: 20px;
    
                    @media(max-width:1200px){
                        margin-left: 9px;
                    }
                }
            }
          }
          @media (max-width: 1200px) {
            ul{
                overflow: hidden;
                padding-top: 10px;
                margin-left: 2px;
    
                li{
                    font-size: 22px;
                    float: left;
    
                    a{
                        
                        color: $white;
                        width: 36px;
                        height: 36px;
                        line-height: 37px;
                        background: linear-gradient(45deg, #ff4856, #aa2135);
                        display: block;
                        text-align: center;
                        @include rounded-border(50%);
                        font-size: 18px;
                        gap: 102px;
    
    
                        &:hover{
                            color:$dark-gray;
                            background: $white;
                        }
                    }
                }
    
                li+li{
                    margin-left: 20px;
    
                    @media(max-width:1200px){
                        margin-left: 9px;
                    }
                }
            }
          }
    }
    .wpo-service-link-widget{
        padding-left: 30px;

        @media(max-width:1200px){
             padding-left: 0;
        }
    }
        
    .link-widget {
        overflow: hidden;
        

        @media screen and (min-width: 1200px) {
            padding-left: 75px;
        }
        
        @media (max-width: 1199px) {
            padding-left: 20px;
        }
        
        @media (max-width: 991px) {
            padding-left: 0;
        }
        
        @media (max-width: 767px) {
            max-width: 350px;
        }

        ul{
            li{
                position: relative;
                a{
                    color: $white;
                    font-size: 17px;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            li+li{
              padding-top: 4px;
            }
        }
    }


    .contact-ft {
        margin-top: 20px;

        ul {
            li {
                padding-bottom: 2px;
                position: relative;
                padding-left: 35px;
                color: #ffffff;
                font-size: 17px;

                i{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
               
                .fi:before{
                    font-size: 20px;
                    margin-right: 15px;
                }
            }
            p{
                text-align: left;
                font-size: 16px;  
                margin-bottom: 10px;
            }
        }
    }
    
    
  
    .wpo-lower-footer{
        text-align: center;
        position: relative;
        background: linear-gradient(45deg, #b81029, #ff4856) ;


    
        .row{
            position: relative;
        }
    
        .copyright{
            display: inline-block;
            font-size: 15px;
            font-size: 0.9375rem;
            margin: 0;
    
            a{
                color: $white;
                text-decoration: none;
            }
    
            @media (max-width: 991px) {
                float: none;
                display: block;
                font-size: 14px;
            }
        }
    }
    
    .instagram{
        ul{
            display: flex;
            flex-wrap: wrap;
            margin: 0px -3px;
    
            li{
                -ms-flex: 0 0 33.33%;
                flex: 0 0 33.33%;
                max-width: 33.33%;
                margin-bottom: 5px;
                padding: 0px 3px;
    
                img{
                    width: 100%;
                    height: 80px;
                    object-fit: cover;
                }
            }
        }
    }
}






